.01{
width: 127px;
height: 99px;
}

.02{
width: 437px;
height: 310px;
}

.03{
width: 97px;
height: 87px;
}

.04{
width: 107px;
height: 89px;
}

.05{
width: 107px;
height: 89px;
}

.06{
width: 107px;
height: 89px;
}