header{
background-color: #41D42A;
width: 1280px;
height: 101px;
}

section{
background-color: #4ED47D;
width: 1280px;
height: 609px;
}

.rodape{
background-color: #41D42A;
width: 1280px;
height: 82px;
}



.01{
width: 127px;
height: 99px;
}

.fazendanamontanha{
width: 437px;
height: 310px;
}

.03{
width: 97px;
height: 87px;
}

.04{
width: 107px;
height: 89px;
}

.05{
width: 107px;
height: 89px;
}

.06{
width: 107px;
height: 89px;
}